<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sciences</title>
    <link rel="stylesheet" href="./static/style.css" type="text/css" />
    <link rel="stylesheet" href="./static/tooltip.css" type="text/css" />
    </meta>
</head>

<body>
    <h3 class='title'>Sciences</h3>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a class="tooltip" href="avancement.html" aria-placeholder="Avancement">
                    <img class="icon" src=" ./src/resources/img/combustion_icon.jpg " width="150px " />
                    <span><h4>Avancement</h4>Comprendre les réactions chimiques et l'avancement !</span>
                </a>
            </div>
        </div>
    </div>
</body>
<footer class="footer ">B. Gonzalez</footer>

</html>