<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Avancement</title>
  
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' " />

    <link rel="stylesheet" type="text/css" href="../static/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/style.css" type="text/css" />
    <script type="text/javascript" src = './static/jquery/dist/jquery.min.js'></script>
    </meta>

</head>

<body>
    <div class="container-fluid">
        <ul class='nav nav-tabs'>
            <li class='nav-item'>
                <a id="mnu_introduction" class="nav-link active" data-toggle='tab' href=' #introduction'> Introduction</a>
            </li>
            <li class='nav-item'>
                <a id="mnu_equation" class="nav-link disabled disabledTab" data-toggle='tab' href='#equation'> Equation</a>
            </li>
            <li class='nav-item'>
                <a id="mnu_avancement" class="nav-link disabled disabledTab" data-toggle='tab' href='#avancement'> Avancement</a>
            </li>
            <li class='nav-item'>
                <a id="mnu_tab_avancement" class="nav-link disabled disabledTab" data-toggle='tab' href='#tab_avancement'> Tableau d'Avancement</a>
            </li>
            <li class='nav-item'>
                <a id="mnu_evolution" class="nav-link disabled disabledTab" data-toggle='tab' href='#evolution'>Evolution</a>
            </li>
            <li class='nav-item'>
                <a id='mnu_problem' class="nav-link disabled disabledTab" data-toggle='tab' href='#problem'>Problèmes</a>
            </li>
            <li class='nav-item' style='display:none'>
                <a id="mnu_identif" class="nav-link" data-toggle='tab' href=' #identif'>Identification</a>
            </li>
            <li class='nav-item'>
                <a class="nav-link" data-toggle='tab' href='#aide'> Aide</a>
            </li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane fade show active' id='introduction'>
            </div>
            <div class='tab-pane fade' id='equation'>
            </div>
            <div class='tab-pane fade' id='avancement'>
            </div>
            <div class='tab-pane fade' id="tab_avancement">
            </div>
            <div class='tab-pane fade' id='evolution'>
            </div>
            <div class='tab-pane fade' id='problem'>
            </div>
            <div class='tab-pane fade' style='display:None' id='identification'>
            </div>
            <div class='tab-pane fade' id='aide'>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" id="MathJax-script" async src="./static/mathjax/es5/tex-mml-chtml.js"></script>
        <script type="text/javascript" src="./static/@bokeh/bokehjs/build/js/bokeh.min.js"></script>
        <script type="text/javascript" src="./static/@bokeh/bokehjs/build/js/bokeh-widgets.min.js"></script>
        
        <script type="text/javascript" src = './static/jquery-validation/dist/jquery.validate.min.js'></script>
        <script type="text/javascript" src = './static/bootstrap/dist/js/bootstrap.min.js'></script>
        <!-- <script type="text/javascript" src = './static/popper.js/dist/umd/popper.js'></script>  -->

        <!-- Chargement des pages -->
        <script type="module" src = '../src/aide/aide_ui.js'></script>
        <script type="module" src = '../src/introduction/intro_ui.js'></script>
        <script type="module" src = '../src/equation/equation_ui.js'></script>
        <script type="module" src = '../src/avancement/avancement_ui.js'></script>
        <script type="module" src = '../src/evolution/evolution_ui.js'></script>
        <script type="module" src = '../src/problem/problem_ui.js'></script>
        <script type="module" src = '../src/tab_avancement/tab_ui.js'></script>
        <script type="module" src = '../src/modules/utils.js'></script>
        
        <!-- script gestion des événements -->
        <script type="text/javascript" src='../src/events.js'></script>
        
        <script type="text/javascript">
        
        window.onload = function(){

            var $ = window.jQuery
            /*
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                if (e.target.id == 'mnu_problem') {
                    init_problem()
                }
            })
            */
        }

        //    var $ = window.jQuery;
        
        /*
            //require('jquery-validation');
            //window.popper = require('./node_modules/popper.js/dist/umd/popper.js');
            //require('./node_modules/bootstrap/dist/js/bootstrap.js');

            require('./introduction/intro_ui.js');
            require('./identification/identification_ui.js');
            require('./equation/equation_ui.js');
            require('./avancement/avancement_ui.js');
            require('./tab_avancement/tab_ui.js');
            require('./evolution/evolution_ui.js');
            require('./problem/problem_ui.js');
            require('./aide/aide_ui.js');

            function valid_input(e) {
                console.log("valid")
            }
        */
        
         //   init_problem()
            
        </script>
    </div>
    <!--
    <script type="text/javascript">
        $(function() {
            $('.example-popover').popover({
                container: 'body'
            })
        })

        $(function() {
            $("[data-hide]").on("click", function() {
                $(this).closest("." + $(this).attr("data-hide")).hide()
            })
        })
    </script>
    -->
</body>

</html>